body {
    background-color: #222;
    font-family: "Tahoma";
    font-size: 0.8em;
    color: #fff;
    font-weight: normal;

}

canvas {
    float: left;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}